<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<staticContent>
<remove fileExtension = ".b3dm"/><mimeMap fileExtension=".b3dm" mimeType="application/octet-stream" />
<remove fileExtension = ".json"/><mimeMap fileExtension=".json" mimeType="application/json" />
<remove fileExtension = ".bgltf"/><mimeMap fileExtension=".bgltf" mimeType="application/bgltf" />
<remove fileExtension = ".gltf"/><mimeMap fileExtension=".gltf" mimeType="application/gltf" />
</staticContent>
<httpProtocol>
<customHeaders>
</customHeaders>
</httpProtocol>
<caching><profiles><add extension = ".b3dm" policy = "CacheUntilChange" kernelCachePolicy = "DontCache" /></profiles></caching></system.webServer>
</configuration>
